h5 {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
  }
  h5.linea {
    position: relative;
    z-index: 1;
  }
  h5.linea:before {
    border-top: 2px solid #000000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 13%;
    z-index: -1;
  }
  h5.linea span {
  
    background: #fff;
    padding: 0 15px;
  }